{% extends 'layout.html' %}

{% block body %}
<h1>About Us</h1>
<p class="lead">Welcome to <b>Techie Blog</b>, your number one source for technology related articles.We're dedicated to giving you the very best article.
  Founded in <b>2020</b> by <b>Puneeth P Gowda</b>.We hope you enjoy our blog and obtaining the knowledge for the upcoming future. If you have any questions or comments, please don't hesitate to contact us.
  <br>
  <br>
  Sincerely,<br>
  <b>Puneeth P Gowda</b>,CEO, Founder</p>
{% endblock %}
